<div class="card">
    <div class="card-header" style="background-color: #828d98;">
        <span style="color:white">Signature Verification Data</span>
    </div>
    <div  >
        <table id="customers">
            <tr >
              <th>Label</th>
              <th>Count</th>  
            </tr>
            <tr>
              <td>Not Yet Verified</td>
              <td>{{notVerified}}</td>   
            <tr>
              <td>Signature OK</td>
              <td>{{verifiedOk}}</td>
             
            </tr>
            <tr>
                <td>Signature Not OK</td>
                <td>{{verifiedNotOk}}</td>     
            </tr> 
        </table>
    </div>
</div>